# Node modules
/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
/coverage
*.lcov

# Build outputs
/dist
/build

# Dependency directories
/.pnp
.pnp.js


# Debug
.vscode
.idea
.DS_Store

# OS specific
Thumbs.db

# Temporary files
*.swp
*.swo
*.tmp
*.temp

# Cache
.npm
.yarn-integrity
.next
.cache
