.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #0f111a;
  color: white;
}

.navbar input {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  margin-right: 5px;
}

.navbar button {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background: #1e90ff;
  color: white;
  cursor: pointer;
}
